
<!DOCTYPE html>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery-1.10.1.min.js"></script>


<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                            <div class="panel panel-default">
                              <div class="panel-heading">Panel heading without title</div>
                              <div class="panel-body">
                                Panel content
                              </div>
                            </div>

            </div>
            <div class="col-md-6">
                            <div class="panel panel-default">
                              <div class="panel-heading">Panel heading without title</div>
                              <div class="panel-body">
                                Panel content
                              </div>
                            </div>

            </div>
        </div>

    </div> 





</body>

</html>


<!--   <div id="mainpic" class="carousel slide" style="width:900px;height:350px">
                   
                   <div class="carousel-inner">
                       <div class="item active">
                           <img src="~/Content/images/agoda3.jpg" alt="Beach" class="img-responsive" style="height:350px"/>
                       </div> 
                       <div class="item ">
                           <img src="~/Content/images/agoda2.jpg" alt="Beach" class="img-responsive" style="height:350px" />
                       </div>
                       <div class="item ">
                           <img src="~/Content/images/agoda3.jpg" alt="Beach" class="img-responsive" style="height:350px" />
                       </div>
                    </div>
<ol class="carousel-indicators">
                       <li data-target="#mainpic" data-slide-to="0" class="active"></li>
                       <li data-target="#mainpic" data-slide-to="1" class=""></li>
                       <li data-target="#mainpic" data-slide-to="2" class=""></li>

                      

                   </ol>
                   <a class="carousel-control left" href="#mainpic" data-slide="prev">
                       <span class="icon-prev"></span>
                   </a>
                   <a class="carousel-control right" href="#mainpic" data-slide="next">
                       <span class="icon-next"></span>
                   </a>
               </div> -->




